<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FILE LIST</title>

    <!-- BootStrap CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- BootStrap JQuery -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <!-- BootStrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    <!-- CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Custom CSS -->

    <link rel="stylesheet" href="../static/css/custom.css">

    <style>
        a {
            color: yellow;
        }
        
        a:hover {
            color: rgb(226, 226, 142);
        }
    </style>

</head>

<body>

    <!-- Navbar Starts -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="#">SECURE TEXT FILES</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

	  <span class="navbar-toggler-icon"></span>

	</button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/home">HOME</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/upload-file">UPLOAD FILE</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/file-directory">FILE DIRECTORY</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link highlight" href="/public-key-directory/">DOWNLOAD PUBLIC KEY</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/register">REGISTER</a>
                </li>

            </ul>

        </div>

    </nav>

    <!-- Navbar Ends -->

    <!-- Main Container Starts -->

    <div class="container-fluid">

        <!-- Inner Container 1 Starts -->

        <div class="container text-center" style="height: 95vh;">

            <div class="text-center p-2">

                {%if msg != ''%}
                <h3>{{msg}}</h3>
                {%else%}

            </div>

            <h3 class="text-center p-2 animate__animated animate__fadeInDown">Download The Public-Key From Here:</h3><br>

            <div class="table-responsive mx-auto animate__animated animate__zoomIn">

                <table class="table-bordered mx-auto">
                    <thead>
                        <tr>
                            <th class="p-3">PUBLIC KEYS</th>
                            <th class="p-3">UPLOADER</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for itr in range(length):%}
                        <tr>
                            <td class="p-2"><a href="retrieve/key/{{directory[itr]}}">Click here to download public key</a></td>
                            <td class="p-2">{{directory[itr]}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                {%endif%}

            </div>

        </div>

        <!-- Inner Container 1 Ends -->

    </div>

    <!-- Main Container Ends -->

    <script src="../static/js/script1.js"></script>

    <script>
        new WOW().init();
    </script>

</body>

</html>